//styles voor mobiel
@media(max-width: 415px) {
    .default {
        display:none;
        }
    
    }

//styles voor grotere devices dan mobiel
@media(min-width: 416px) {
    .mobile {
        display:none;
        }
    
    }


//styles van de toolbar
.app-toolbar {
    position: fixed;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
    opacity: 0.9;
}
