<div class="container">
    <div class="row">
        <div class="col-md-12">
            <mat-card class="general-card">
                <mat-card-header>
                    <img mat-card-avatar src="https://pics.freeicons.io/uploads/icons/png/9867768081535351488-512.png"
                        alt="information-icon" />
                    <mat-card-title>Algemene informatie</mat-card-title>
                    <mat-card-subtitle>Over de vaccins.</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <hr />
                    <p>
                        <strong>Er zijn inmiddels zes Corona vaccins, waarvan er twee geauthoriseerd en aanbevolen
                            zijn.</strong>
                    </p>
                    <ul>
                        <li>
                            <a mat-raised-button class="ml-2"
                                href="https://www.rijksoverheid.nl/onderwerpen/coronavirus-vaccinatie/soorten-coronavaccins/biontech-pfizer-comirnaty">Pfizer-BioNTech</a>
                        </li>
                        <li>
                            <a mat-raised-button class="ml-2"
                                href="https://www.rijksoverheid.nl/onderwerpen/coronavirus-vaccinatie/soorten-coronavaccins/moderna">Moderna
                            </a>
                        </li>
                    </ul>
                    <p>
                        Bovenstaande vaccins zijn op tienduizenden mensen getest en beoordeeld op werkzaamheid,
                        veligheid en kwaliteit door het Europees Geneesmiddelen Agentschap (EMA) en het College ter
                        Beoordeling van Geneesmiddelen (CBG) <br />
                        Het Pfizer-BioNTech beschermt in 95% van de gevallen tegen het coronavirus, <br />
                        Het Moderna vaccins beschermt in 94% van de gevallen.
                        <br/>
                        <strong>Beide vaccins zijn goedgekeurd voor ouderen en mensen in risicogroepen, zoals mensen
                            met:</strong>

                    </p>
                    <ul>
                        <li>Astma</li>
                        <li>Chronische longziekten</li>
                        <li>Hartziekten</li>
                        <li>Diabetes</li>
                        <li>Hoge bloeddruk</li>
                        <li>Obesitas (BMI hoger dan 30)</li>
                    </ul>
                    <mat-card-subtitle>
                        mRNA- vaccins
                    </mat-card-subtitle>
                    <p>Beide goedgekeurde vaccins zijn mRNA-vaccins. Het vaccin bevat een stukje genetische informatie:
                        het mRNA. mRNA zorgt voor het aanmaken van een kenmerkend eiwit van het coronavirus: het
                        spike-eiwit. Stukjes van dit eiwit worden herkend door afweercellen in het lichaam. Als reactie
                        hierop maakt het lichaam antistoffen aan. Komt u daarna in contact met het coronavirus? Dan
                        beschermen die antistoffen het lichaam. Zo is de kans klein dat u ziek wordt van het virus
                    </p>
                    <p>
                        de mRNA-vaccins kunnen niet bij het DNA komen, en dus nooit iets veranderen aan uw genen. Het
                        lichaam breekt het vaccin daarna vanzelf af.
                    </p>
                    <hr />
                </mat-card-content>
                <mat-card-footer>
                    <p class="ml-3">Bron en meer info:
                        <a mat-raised-button class="ml-2"
                            href="https://www.rijksoverheid.nl/onderwerpen/coronavirus-vaccinatie/soorten-coronavaccins"
                            target="blank">Rijksoverheid</a>
                        <a mat-raised-button class="ml-2"
                            href="https://www.rijksoverheid.nl/onderwerpen/coronavirus-vaccinatie/soorten-coronavaccins/moderna"
                            target="blank">Rijksoverheid - Moderna</a>
                        <a mat-raised-button class="ml-2"
                            href=" het https://www.rijksoverheid.nl/onderwerpen/coronavirus-vaccinatie/soorten-coronavaccins/biontech-pfizer-comirnaty"
                            target="blank">Rijksoverheid - Pfizer-BioNTech</a>
                        <a mat-raised-button class="ml-2" href="https://www.cdc.gov/coronavirus/2019-ncov/vaccines/different-vaccines.html"
                            target="blank">CDC.gov
                        </a>
                    </p>
                </mat-card-footer>
            </mat-card>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-6">
            <mat-card class="infections-card">
                <mat-card-header>
                    <img mat-card-avatar src="https://pics.freeicons.io/uploads/icons/png/4660030321586786103-64.png"
                        alt="vaccine-icon">
                    <mat-card-title>Pfizer-BioNTech</mat-card-title>
                    <mat-card-subtitle>Iets dieper.</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <hr />
                    <p>
                        <strong>
                            Het Pfizer-BioNTech vaccins voorkomt ziekte door het Coronavirus. In Nederland worden mensen
                            vanaf 18 jaar uitgenodigd voor inenting met dit vaccin.
                        </strong>
                    </p>
                    <p>
                        In januari 2021 zijn er 507.000 doses van dit vaccin beschikbaar.In de loop van het eerste
                        kwartaal van 2021 volgen nog eens 1,7 miljoen doses.<br />
                        Het BioNTech/Pfizer-vaccin mag in Nederland ook toegediend worden bij kinderen van 16 en 17
                        jaar. Maar het kabinet heeft er voor gekozen om eerst mensen van 18 jaar en ouder te vaccineren.

                    </p>
                    <p>
                        Het vaccin van Pfizer-BioNTech is verpakt per ongeveer 1000 doses, en moet worden bewaard bij
                        -75 graden Celcius. Om verspilling te voorkomen, wordt dit vaccin op de cetrale GGD-priklocaties
                        bewaard en gebruikt.
                    </p>
                    <mat-card-subtitle>
                        2 prikken nodig in 6 weken
                    </mat-card-subtitle>
                    <p>
                        U heeft 2 prikken met dit vaccin nodig om goed beschermd te zijn tegen het coronavirus. Tussen
                        die 2 prikken zit 6 weken – dit waren eerst 3 weken. Op die manier kunnen nog meer mensen (vanaf
                        60 jaar) het vaccin krijgen. De langere periode tussen de 2 prikken heeft geen gevolgen: het
                        vaccin blijft even goed werken en biedt dezelfde bescherming tegen corona. Heeft u al een
                        afspraak gemaakt voor een tweede prik? Dan gaat deze afspraak gewoon door. Vanaf 7 dagen na de
                        tweede prik bent u beschermd tegen het coronavirus.
                    </p>
                    <mat-card-subtitle>
                        Bijwerkingen
                    </mat-card-subtitle>
                    <p>
                        De meest voorkomende (milde) bijwerkingen:
                    </p>
                    <ul>
                        <li>Roodheid</li>
                        <li>Pijn</li>
                        <li>Zwelling</li>
                    </ul>
                    <p>
                        Andere bijwerkingen die minder vaak voorkomen:
                    </p>
                    <ul>
                        <li>Spier-en gewrichtspijn</li>
                        <li>Vermoeidheid</li>
                        <li>Hoofdpijn</li>
                        <li>Koude Rillingen</li>
                        <li>Verhoging</li>
                    </ul>
                    <hr />
                </mat-card-content>
                <mat-card-footer>
                    <p class="ml-3">Bron en meer info:
                        <a mat-raised-button class="ml-2"
                            href="https://www.rijksoverheid.nl/onderwerpen/coronavirus-vaccinatie/soorten-coronavaccins/biontech-pfizer-comirnaty"
                            target="blank">Rijskoverheid</a>
                    </p>
                </mat-card-footer>
            </mat-card>
        </div>
        <div class="col-md-6">
            <mat-card class="risk-card">
                <mat-card-header>
                    <img mat-card-avatar src="https://pics.freeicons.io/uploads/icons/png/4660030321586786103-64.png"
                        alt="vaccine-icon">
                    <mat-card-title>
                        Moderna
                    </mat-card-title>
                    <mat-card-subtitle>
                        Iets dieper.
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content class="pb-3">
                    <hr />
                    <p>
                        <strong>
                            Het Moderna-vaccin voorkomt ziekte door het coronavirus. Dit vaccin is geschikt voor mensen
                            vanaf 18 jaar. Het is voor 94% betrouwbaar.
                        </strong>
                    </p>
                    <p>
                        Nederland krijgt in het eerste kwartaal naar verwachting 390.000 doses van het Moderna-vaccin.
                        De eerste Moderna-vaccins zijn op 11 januari 2021 geleverd.
                    </p>
                    <p>
                        Het Moderna-vaccin hoeft niet diepgevroren bewaard te worden. Zo kan het vaccin goed verspreid
                        worden onder bijvoorbeeld verpleeghuizen, instellingen en (kleinschalige) woonvormen.
                    </p>
                    <mat-card-subtitle>
                        2 prikken nodig in 29 dagen
                    </mat-card-subtitle>
                    <p>
                        Vaccinatie met het vaccin van Moderna bestaat uit 2 prikken. De 2e prik krijgt u 28 dagen na de
                        1e prik. Vanaf 14 dagen na de 2e prik bent u maximaal beschermd tegen het coronavirus.
                    </p>
                    <mat-card-subtitle>
                        Bijwerkingen
                    </mat-card-subtitle>
                    <p>De meest voorkomende bijwerkingen zijn:</p>
                    <ul>
                        <li>Pijn en zwelling op de prikplek</li>
                        <li>Vermoeidheid en koude rillingen</li>
                        <li>Koorts, Opgezette lymfeklieren</li>
                        <li>Hoofdpijn</li>
                        <li>Spier- en gewrichtspijn</li>
                        <li>Misselijkheid en overgeven</li>
                    </ul>
                    <p>Deze bijwerkingen zijn mild en verdwijnen meestal na een paar dagen. Het kan zijn dat er
                        bijwerkingen optreden die ernstiger zijn. Maar de kans hierop is heel klein.</p>
                    <hr />
                </mat-card-content>
                <mat-card-footer>
                    <p class="ml-3">Bron en meer info:
                        <a mat-raised-button class="ml-2"
                            href="https://www.rijksoverheid.nl/onderwerpen/coronavirus-vaccinatie/soorten-coronavaccins/moderna"
                            target="blank">Rijksoverheid</a>
                    </p>
                </mat-card-footer>
            </mat-card>
        </div>
    </div>
</div>