<div class="container">
    <div class="row">
        <div class="col-md-12 mt-1">
            <mat-card class="test-general-card">
                <mat-card-header>
                    <!-- card header -->
                    <img mat-card-avatar src="https://pics.freeicons.io/uploads/icons/png/9867768081535351488-512.png"
                        alt="information icon" />
                    <mat-card-title>Algemene informatie</mat-card-title>
                    <mat-card-subtitle>Over coronatesten.</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <!-- card content -->
                    <hr />
                    <p>
                        <strong>
                            Het is belangrijk dat mensen zich laten testen bij klachten. Het zorgt er namelijk voor dat
                            we nieuwe besmettingen eerder vinden.
                        </strong>
                    </p>
                    <p>Mensen die het virus inderdaad blijken te hebben, gaan in isolatie en blijven thuis. De GGD start
                        met bron- en contactonderzoek en adviseert quarantaine voor huisgenoten en nauwe contancten.
                        <br />
                        Als we ons hier aan houden, voorkomen we dat de patient en zijn of haar nauwe contacten anderen
                        besmetten. Testen is dus belangrijk om het coronavirus in te dammen en in de gaten te houden.
                    </p>
                    <p>
                        Er zijn een aantal soorten testen:
                    </p>
                    <ul>
                        <li>De PCR-Test</li>
                        <li>De antigeentest</li>
                        <li>Serologische test</li>
                        <li>Ademtest (blaastest)</li>
                    </ul>
                    <p>Klik <a href="https://www.rivm.nl/coronavirus-covid-19/testen" target="blank">hier</a> voor meer
                        informatie over deze tests.</p>
                    <hr />
                </mat-card-content>
                <mat-card-footer>
                    <!-- card footer -->
                    <p class="ml-3">Bronnen en meer info:
                        <a mat-raised-button class="ml-2" href="https://www.rivm.nl/coronavirus-covid-19/testen"
                            target="blank">RIVM</a>
                        <a mat-raised-button class="ml-2"
                            href="https://www.rijksoverheid.nl/onderwerpen/coronavirus-covid-19/testen"
                            target="blank">Rijksoverheid</a>
                    </p>
                </mat-card-footer>
            </mat-card>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mt-1">
            <mat-card>
                <mat-card-header>
                    <!-- card header -->
                    <img mat-card-avatar src="https://image.flaticon.com/icons/png/512/36/36601.png" alt="question-mark" />
                    <mat-card-title>Wanneer moet ik testen?</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <!-- card content -->
                    <hr />
                    <p>
                        <strong>
                            Bij milde klachten kunt u al terecht bij de GGD voor een Coronatest
                        </strong>
                    </p>
                    <p>
                        Onder milde klachten vallen:
                    </p>
                    <ul>
                        <li>Neusverkoudheid</li>
                        <li>Loopneus</li>
                        <li>Niezen</li>
                        <li>Keelpijn</li>
                        <li>Hoesten</li>
                        <li>Koorts</li>
                    </ul>
                    <p>
                        Heeft u klachten die passen bij het coronavirus? Maak dan een afspraak voor een coronatest. U
                        hoeft niet te betalen voor deze test.
                   <br/>
                        Het is ook mogelijk om u te laten testen als u geen klachten hebt. Maar wel slechts in een paar
                        gevallen:
                    </p>
                    <ul>
                        <li>Uw naam komt naar voren uit bron- en contactonderzoek</li>
                        <li>U heeft een melding in de app Coronamelder gekregen</li>
                        <li>U komt terug uit het buitenland</li>
                        <li>U doet mee aan een onderzoek grootschalig testen</li>
                    </ul>
                    <p>
                        Vanaf 8 februari gelden andere regels voor kinderen van 4 tot en met 12 jaar.
                        Basisschoolleerlingen met klachten moeten thuisblijven en zich laten testen. Zowel met milde als
                        met zware klachten.
                    </p>
                    <hr />
                </mat-card-content>
                <mat-card-footer>
                    <!-- card footer -->
                    <p class="ml-3">Bronnen en meer info:
                        <a mat-raised-button class="ml-2" href="https://www.rivm.nl/coronavirus-covid-19/testen"
                            target="blank">RIVM</a>
                        <a mat-raised-button class="ml-2"
                            href="https://www.rijksoverheid.nl/onderwerpen/coronavirus-covid-19/testen"
                            target="blank">Rijksoverheid</a>
                    </p>
                </mat-card-footer>
            </mat-card>
        </div>
        <div class="col-md-4 mt-1">
            <mat-card>
                <mat-card-header>
                    <!-- card header -->
                    <img mat-card-avatar src="https://static.thenounproject.com/png/1295034-200.png" alt="graph-icon" />
                    <mat-card-title>Cijfers</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <!-- card content -->
                    <hr />
                    <p>
                        <strong>De cijfers hieronder zijn afkomstig van het RIVM en de WHO</strong>
                    </p>
                    <p>
                        In Nederland hebben we de 1 miljoen besmettingen gepasseerd en er zijn in totaal meer dan
                        15.000 Nederlanders overleden aan de gevolgen van het Coronavirus.
                    </p>
                    <p>
                        Om verwarring te voorkomen wordt er hier geen harde data weergegeven, hiervoor verwijzen wij u
                        graag door naar <a href="https://www.rivm.nl/coronavirus-covid-19/actueel">Het RIVM</a> of <a
                            href="https://covid19.who.int/region/euro/country/nl">De WHO</a>
                    </p>
                    <hr />
                </mat-card-content>
                <mat-card-footer>
                    <!-- card footer -->
                    <p class="ml-3">Bronnen en meer info:
                        <br/>
                        <a mat-raised-button class="ml-2" href="https://www.rivm.nl/coronavirus-covid-19/testen"
                            target="blank">RIVM</a>
                        <a mat-raised-button class="ml-2"
                            href="https://www.rijksoverheid.nl/onderwerpen/coronavirus-covid-19/testen"
                            target="blank">Rijksoverheid</a>
                    </p>
                </mat-card-footer>
            </mat-card>
        </div>
    </div>
</div>