<div class="container">
    <div class="row">
        <div class="col-md-12">
            <mat-card class="virus-card">
                <mat-card-header>
                    <img mat-card-avatar src="https://cdn3.iconfinder.com/data/icons/essentials-7/16/alert-01-512.png"
                        alt="uitroepteken-icon" />
                    <mat-card-title>Adviezen virus niet krijgen.</mat-card-title>
                    <mat-card-subtitle>Tips om te voorkomen dat u een virus krijgt of verspreidt.</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <hr />
                    <ul>
                        <li><span class="text-danger">Belangrijk:</span> U kunt veilig naar uw (huis)arts. Uw
                            (huis)arts neemt maatregelen om besmetting te voorkomen.</li>
                        <li><span class="text-danger">Belangrijk:</span> Ga met klachten niet op bezoek bij ouderen,
                            mensen met minder afweer of een chronische ziekte. </li>
                        <li>Was uw handen vaak met water en zeep. Maak ze droog met een papieren handdoekje. Gooi dit
                            direct in de vuilnisbak.</li>
                        <li>Gebruik handalcohol of handgel alleen als er geen kraan of zeep is. Bijvoorbeeld na het
                            snuiten. </li>
                        <li>Hoest en nies in de binnenkant van uw elleboog.</li>
                        <li>Raak zo min mogelijk uw ogen, neus en mond aan.</li>
                        <li>Gebruik papieren zakdoekjes om uw neus te snuiten. Gooi de zakdoekjes gelijk weg.</li>
                        <li>Houd 1,5 meter afstand van anderen. Raak anderen niet aan. Geef anderen geen hand.</li>
                        <li>Ga niet naar plekken waar veel mensen zijn.</li>
                        <li>Werk thuis als dat kan.</li>
                        <li>Zet thuis alle ventilatie-roosters bovenin uw ramen open. Of als u deze roosters niet heeft:
                            zorg dat er een klein bovenraam openstaat. Zo kan er steeds verse lucht naar binnen en vieze
                            lucht naar buiten. Zet ook minimaal 1 keer per dag 30 minuten even een raam of deur open.
                            Doe dit vooral als u met meer mensen samen bent. Zo kan snel veel verse lucht naar binnen en
                            vieze lucht naar buiten.</li>
                        <li>Er is geen bewijs dat het helpt om extra vitamines te slikken om corona bij uzelf te
                            voorkomen.</li>
                        <li>Het is onbekend of vitamine D helpt tegen corona. Artsen kunnen vitamine D daarom niet
                            aanraden of afraden.
                            Veel mensen hebben wel extra vitamine D nodig. Kijk hier of dat voor u zo is. </li>
                        <li>Er zijn prikken die uw weerstand tegen het coronavirus sterker maken. U kunt erover nadenken
                            of u deze prikken wilt krijgen.</li>
                    </ul>
                    <p>
                        Daarnaast is het sinds 1 December 2020 verplicht om een mondkapje te dragen in:
                    </p>
                    <ul>
                        <li>Openbare plekken die binnen zijn</li>
                        <li>Scholen en onderwijsinstellingen, behalve basisscholen</li>
                        <li>Contactberoepen</li>
                        <li>Openbaar vervoer</li>
                        <li>Tijdens vervoer met touringcar</li>
                        <li>In het vliegtuig en op luchthavens</li>
                    </ul>
                    <p>Kijk voor meer informatie hierover op de website van <a mat-raised-button class="ml-2"
                            href="https://www.rijksoverheid.nl/onderwerpen/coronavirus-covid-19/mondkapjes/mondkapje-verplicht"
                            target="blank">Rijksoverheid</a></p>
                    <hr />
                </mat-card-content>
                <mat-card-footer>
                    <p class="ml-3">Bronnen en meer info:
                        <a mat-raised-button class="ml-2"
                            href="https://www.thuisarts.nl/corona/ik-wil-voorkomen-dat-ik-corona-krijg#hoe-voorkom-ik-dat-ik-het-coronavirus-krijg"
                            target="blank">Thuisarts</a>
                        <a mat-raised-button class="ml-2"
                            href="https://www.rijksoverheid.nl/onderwerpen/coronavirus-covid-19/mondkapjes/mondkapje-verplicht"
                            target="blank">Rijksoverheid</a>
                    </p>
                </mat-card-footer>
            </mat-card>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-12">
            <mat-card class="health-card">
                <mat-card-header>
                    <img mat-card-avatar src="" alt="" />
                    <mat-card-title>Adviezen gezond leven</mat-card-title>
                    <mat-card-subtitle>Het is belangrijk dat uw weerstand goed werkt.</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <hr />
                    <p>
                        <strong>Met een goed werkende weerstand, heeft u minderkans om ernstig ziek te worden als u het
                            coronavirus krijgt.</strong>
                    </p>
                    <p>Een aantal adviezen om gezond te leven:</p>
                    <ul>
                        <li>Gezond eten</li>
                        <li>Elke dag minimaal een half uur actief bewegen, bijvoorbeeld een half uur buiten wandelen
                        </li>
                        <li>Een goede nachtrust</li>
                        <li>Genoeg onstspanning</li>
                        <li>Stoppen met roken</li>
                        <li>Minder alcohol drinken</li>
                    </ul>
                    <p>Als u te zwaar bent, helpt afvallen om uw gezondheid te verbeteren. U kunt afvallen door meer te
                        bewegen en door gezond te gaan eten. Mensen die veel te zwaar zijn (obesitas) hebben meer kans
                        om ernstig ziek te worden door corona. Het is niet bekend of afvallen helpt om minder ziek te
                        worden of om minder snel corona te krijgen.</p>
                    <p>Naast bescherming tegen ziekten heeft gezond leven ook invloegd op hoe u zich voelt. Door de
                        coronaregels voelen meer mensen zich eenzaam, somber of angstig. Met veel bewegen, goed slapen,
                        gezond eten en minder alcohol voelt u zich psychisch vaak veel beter.</p>
                    <p>Om een beeld te krijgen of u uw leefstijl moet verbetern kunt u hier onder een BMI Check doen.
                    </p>
                    <hr />
                </mat-card-content>
                <mat-card-footer>
                    <p class="ml-3">Bronnen en meer info:
                        <a mat-raised-button class="ml-2"
                            href="https://www.thuisarts.nl/corona/ik-wil-voorkomen-dat-ik-corona-krijg#adviezen-om-uw-lichaam-sterker-te-maken"
                            target="blank">Thuisarts</a>
                        <a mat-raised-button class="ml-2"
                            href="https://www.rijksoverheid.nl/onderwerpen/coronavirus-covid-19/mondkapjes/mondkapje-verplicht"
                            target="blank">Rijksoverheid</a>
                    </p>
                </mat-card-footer>
            </mat-card>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-12">
            <mat-card class="BMI-card">
                <mat-card-header>
                    <img mat-card-avatar src="" alt="" />
                    <mat-card-title>BMI calculator</mat-card-title>
                    <mat-card-subtitle>creëer een beeld.</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <hr />
                    <p>
                        <strong>Hier kunt u een beeld krijgen hoe u er voor staat.</strong>
                    </p>
                    <p>De BMI (Body Mass Index) is een internationaal gebruikte meetmethode die laat zien of je een
                        gezond gewicht hebt in verhouding tot je lengte. Je kunt de BMI berekenen voor vrouwen, mannen
                        en kinderen vanaf 2 jaar. De BMI is minder geschikt voor als je heel gespierd bent, zwanger
                        bent, borstvoeding geeft of van Aziatische afkomst bent.</p>
                    <p>
                        Vul uw geslacht, gewicht, leeftijd en lengte in om uw BMI te berekenen.
                    </p>

                    <form [formGroup]="bmiGroup" (ngSumbit)="onSubmit()" *ngIf="!submitted">
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field appearance="fill" class="ml-2">
                                    <mat-label>Geslacht</mat-label>
                                    <mat-select formControlName="gender" required>
                                        <mat-option value="m">Man</mat-option>
                                        <mat-option value="v">Vrouw</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="form.gender.invalid">Kies een optie</mat-error>
                                </mat-form-field>
                                <mat-form-field appearance="fill" class="ml-2">
                                    <mat-label>Leeftijd (in jaren)</mat-label>
                                    <input matInput formControlName="age" required>
                                    <mat-error *ngIf="form.age.invalid">Vul een leeftijd in</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field appearance="fill" class="ml-2">
                                    <mat-label>Lengte (in cm)</mat-label>
                                    <input matInput formControlName="length" required>
                                    <mat-error *ngIf="form.length.invalid">Vul een lengte in</mat-error>
                                </mat-form-field>
                                <mat-form-field appearance="fill" class="ml-2">
                                    <mat-label>Gewicht (in kg)</mat-label>
                                    <input matInput formControlName="weight" required>
                                    <mat-error *ngIf="form.weight.invalid">Vul een gewicht in</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button [disabled]="bmiGroup.invalid" mat-raised-button type="submit" class="float-right"
                                    (click)="onSubmit()">Bevestig</button>
                            </div>
                        </div>
                    </form>
                    <div *ngIf="submitted">
                        <strong>Uw BMI is {{foundBMI}}, dit betekent dat u zich in de categorie {{state}}
                            bevindt.</strong>
                    </div>

                    <hr />
                </mat-card-content>
                <mat-card-footer>
                    <p class="ml-3">Bronnen en meer info:
                        <a mat-raised-button class="ml-2"
                            href="https://www.thuisarts.nl/corona/ik-wil-voorkomen-dat-ik-corona-krijg#adviezen-om-uw-lichaam-sterker-te-maken"
                            target="blank">Thuisarts</a>
                        <a mat-raised-button class="ml-2"
                            href="https://www.rijksoverheid.nl/onderwerpen/coronavirus-covid-19/mondkapjes/mondkapje-verplicht"
                            target="blank">Rijksoverheid</a>
                    </p>
                </mat-card-footer>
            </mat-card>
        </div>
    </div>
</div>