//stylse van de footer
.footer {
    position:fixed;
    bottom:0;  
    height: 32px; 
    z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
    opacity: 0.9;
}
//textsize van de footer
small {
    font-size: 14px;
}