<div class="container">
    <div class="row">
        <div class="col-md-12">
            <mat-card class="text-center">
              
                    <h1>Error: 404 - Deze pagina is niet gevonden!</h1>
                    <hr>
                <mat-card-content>
                    <img class="img-fluid" style="max-height: 75vh;" src="https://image.freepik.com/free-vector/error-404-concept-illustration_114360-1811.jpg">
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="warn" routerLink="/home"                        
                            >Terug naar Home</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>   
</div>
